iframe {
    display: grid;
    height: 75vh;
    width: 55vw;
    border: none;
    margin: auto;
}

/* Navbar */

.navbar-brand {
    padding-left: 10vh;
    font-family: 'Cute Font', sans-serif;
    font-size: 3rem;
}

a .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    padding-left: 20vw !important;
    padding-right: 20vw !important;
}

#navbar {
    background-color: #f3216f !important;
}