iframe {
    display: grid;
    height: 75vh;
    width: 55vw;
    border: none;
    margin: auto;
}

/* Navbar */

.navbar-brand {
    padding-left: 10vh;
    font-family: 'Cute Font', sans-serif;
    font-size: 3rem;
}

a .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    padding-left: 20vw !important;
    padding-right: 20vw !important;
}

#navbar {
    background-color: #f3216f !important;
}

img {
    width: 75vw;
    border: 1px black solid;
    border-radius: 5px;
    justify-content: center;
}

.banner-image {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
}